.wrapper {
  padding: 4px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.control {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  box-sizing: border-box;

  box-shadow:
    0 1px 1px 0 var(--color-alpha-black-10),
    0 0 0 1px var(--color-alpha-black-10);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition:
    border-color 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;
}
.control::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;

  transform: scale(0);
  transition:
    background-color 0.15s ease,
    transform 0.15s ease;
}
.wrapper:not(.disabled):hover .control {
  box-shadow:
    0 1px 1px 0 var(--color-alpha-black-10),
    0 0 0 1px var(--color-alpha-black-15),
    0 1px 3px 0 var(--color-alpha-black-10);
}
.input:focus-visible + .control {
  box-shadow:
    0 0 0 4px var(--color-alpha-black-15),
    0 1px 1px 0 var(--color-alpha-black-10),
    0 0 0 1px var(--color-alpha-black-20),
    0 1px 3px 0 var(--color-alpha-black-10);
}
.input:checked + .control {
  background-color: var(--color-primary-500);
}
.input:checked + .control::after {
  transform: scale(1);
  background: var(--color-white);

  box-shadow:
    inset 0 1px 2px 0 var(--color-alpha-black-15),
    0 1px 1px 0 var(--color-alpha-black-10);
}
