@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "./lib/semantic/surface.css";
@import "./lib/semantic/background.css";
@import "./lib/semantic/content.css";
@import "./lib/semantic/effects.css";
@import "./lib/typography/body.css";
@import "./lib/typography/display.css";
@import "./lib/typography/heading.css";
@import "./lib/typography/label.css";
@import "./lib/typography/radius.css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@theme {
  /* Fonts */
  --font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif;

  /* Base colors */
  --color-white: #ffffff;
  --color-black: #090b10;

  /* White alpha scale */
  --color-alpha-white-05: rgba(255, 255, 255, 0.05);
  --color-alpha-white-07: rgba(255, 255, 255, 0.07);
  --color-alpha-white-10: rgba(255, 255, 255, 0.1);
  --color-alpha-white-15: rgba(255, 255, 255, 0.15);
  --color-alpha-white-20: rgba(255, 255, 255, 0.2);
  --color-alpha-white-30: rgba(255, 255, 255, 0.3);
  --color-alpha-white-40: rgba(255, 255, 255, 0.4);
  --color-alpha-white-50: rgba(255, 255, 255, 0.5);
  --color-alpha-white-60: rgba(255, 255, 255, 0.6);
  --color-alpha-white-70: rgba(255, 255, 255, 0.7);
  --color-alpha-white-80: rgba(255, 255, 255, 0.8);
  --color-alpha-white-90: rgba(255, 255, 255, 0.9);

  /* Primary alpha scale */
  --color-alpha-primary-05: rgba(51, 180, 189, 0.05);
  --color-alpha-primary-10: rgba(51, 180, 189, 0.1);
  --color-alpha-primary-15: rgba(51, 180, 189, 0.15);
  --color-alpha-primary-20: rgba(51, 180, 189, 0.2);
  --color-alpha-primary-30: rgba(51, 180, 189, 0.3);
  --color-alpha-primary-40: rgba(51, 180, 189, 0.4);
  --color-alpha-primary-50: rgba(51, 180, 189, 0.5);
  --color-alpha-primary-60: rgba(51, 180, 189, 0.6);
  --color-alpha-primary-70: rgba(51, 180, 189, 0.7);
  --color-alpha-primary-80: rgba(51, 180, 189, 0.8);
  --color-alpha-primary-90: rgba(51, 180, 189, 0.9);

  /* Black alpha scale */
  --color-alpha-black-04: rgba(9, 11, 16, 0.04);
  --color-alpha-black-05: rgba(9, 11, 16, 0.05);
  --color-alpha-black-07: rgba(9, 11, 16, 0.07);
  --color-alpha-black-10: rgba(9, 11, 16, 0.1);
  --color-alpha-black-15: rgba(9, 11, 16, 0.15);
  --color-alpha-black-20: rgba(9, 11, 16, 0.2);
  --color-alpha-black-30: rgba(9, 11, 16, 0.3);
  --color-alpha-black-40: rgba(9, 11, 16, 0.4);
  --color-alpha-black-50: rgba(9, 11, 16, 0.5);
  --color-alpha-black-60: rgba(9, 11, 16, 0.6);
  --color-alpha-black-70: rgba(9, 11, 16, 0.7);
  --color-alpha-black-80: rgba(9, 11, 16, 0.8);
  --color-alpha-black-90: rgba(9, 11, 16, 0.9);

  /* Primary */
  --color-primary-50: #eff8f9;
  --color-primary-100: #c9eaed;
  --color-primary-200: #a4dde1;
  --color-primary-300: #7ecfd5;
  --color-primary-400: #59c2c9;
  --color-primary-500: #33b4bd;
  --color-primary-600: #2d979e;
  --color-primary-700: #267a7f;
  --color-primary-800: #205c61;
  --color-primary-900: #193f42;
  --color-primary-950: #132223;

  /* Grey */
  --color-grey-50: #f3f5f6;
  --color-grey-100: #dddfe1;
  --color-grey-200: #c6c8cb;
  --color-grey-300: #a4a7ab;
  --color-grey-400: #82858b;
  --color-grey-500: #60646b;
  --color-grey-600: #3e424b;
  --color-grey-700: #2e323a;
  --color-grey-800: #252932;
  --color-grey-900: #181b21;
  --color-grey-950: #121418;

  /* Primary */
  --color-info-50: #f5f3fe;
  --color-info-100: #d2e7ff;
  --color-info-200: #8ebefc;
  --color-info-300: #5fa2fd;
  --color-info-400: #2f85fe;
  --color-info-500: #0068ff;
  --color-info-600: #0257d4;
  --color-info-700: #0446a8;
  --color-info-800: #05367d;
  --color-info-900: #072551;
  --color-info-950: #091426;

  /* Positive */
  --color-positive-50: #f2fdfa;
  --color-positive-100: #c5f1dd;
  --color-positive-200: #98e4c0;
  --color-positive-300: #6bd8a2;
  --color-positive-400: #3ecb85;
  --color-positive-500: #11bf68;
  --color-positive-600: #11a25c;
  --color-positive-700: #118551;
  --color-positive-800: #126845;
  --color-positive-900: #124b3a;
  --color-positive-950: #122e2e;

  /* Notice */
  --color-notice-50: #fef7ee;
  --color-notice-100: #fee5d2;
  --color-notice-200: #fed2b4;
  --color-notice-300: #feb787;
  --color-notice-400: #fea165;
  --color-notice-500: #fe8c42;
  --color-notice-600: #d56b25;
  --color-notice-700: #ad561e;
  --color-notice-800: #844216;
  --color-notice-900: #5c2d0f;
  --color-notice-950: #331907;

  /* Negative */
  --color-negative-50: #fcf2f2;
  --color-negative-100: #f8cbd0;
  --color-negative-200: #f4a4af;
  --color-negative-300: #f17c8d;
  --color-negative-400: #ed556c;
  --color-negative-500: #e92e4a;
  --color-negative-600: #c7283e;
  --color-negative-700: #a52232;
  --color-negative-800: #831b25;
  --color-negative-900: #611519;
  --color-negative-950: #3f0f0d;

  --skeleton-base: var(--color-grey-100);
  --skeleton-highlight: var(--color-grey-200);
}

.dark {
  --skeleton-base: var(--color-grey-800);
  --skeleton-highlight: var(--color-grey-700);
}

.Toastify__toast--success .Toastify__progress-bar {
  background-color: var(--color-positive-500) !important;
}

.Toastify__toast--success .Toastify__progress-bar--bg {
  background-color: var(--color-positive-300) !important;
}

.Toastify__toast--error .Toastify__progress-bar {
  background-color: var(--color-negative-500) !important;
}

.Toastify__toast--error .Toastify__progress-bar--bg {
  background-color: var(--color-negative-300) !important;
}

.Toastify__toast--info .Toastify__progress-bar {
  background-color: var(--color-info-500) !important;
}

.Toastify__toast--info .Toastify__progress-bar--bg {
  background-color: var(--color-info-300) !important;
}

.Toastify__toast--warning .Toastify__progress-bar {
  background-color: var(--color-notice-500) !important;
}

.Toastify__toast--warning .Toastify__progress-bar--bg {
  background-color: var(--color-notice-300) !important;
}

.Toastify__toast--default .Toastify__progress-bar {
  background-color: var(--color-grey-500) !important;
}

.Toastify__toast--default .Toastify__progress-bar--bg {
  background-color: var(--color-grey-300) !important;
}

.card-loader,
.card-loader:before,
.card-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.card-loader {
  color: var(--color-primary-500);
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.card-loader:before,
.card-loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.card-loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.card-loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.page-scroll {
  overflow: auto;
}
.page-scroll::-webkit-scrollbar {
  width: 14px;
}
.page-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.page-scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary-500);
  border-radius: 10px;
  border: 3px solid var(--color-white);
}
.dark .page-scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary-500);
  border-radius: 10px;
  border: 3px solid var(--color-black);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}

.no-images img,
.no-images svg,
.no-images picture {
  visibility: hidden !important;
}
